.scroll-container {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  
}

.scroll-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: fit-content; /* Adjust width to fit content */
  overflow: hidden;
  width: 100%;
}

.project-card {
  width: 500px; /* Fixed width to ensure cards stay in a row */
  height: 320px;
}

@media (max-width: 1500px) {
  .project-card {
    width: 450px; /* Adjust width for smaller screens */
    height: 280px;
  }
}

@media (max-width: 1250px) {
  .project-card {
    width: 350px; /* Adjust width for smaller screens */
    height: 250px;
  }
}

@media (max-width: 1000px) {
  .project-card {
    width: 275px; /* Adjust width for smaller screens */
    height: 220px;
  }
}

@media (max-width: 750px) {
  .project-card {
    width: 200px; /* Adjust width for smaller screens */
    height: 180px;
  }
}

@media (max-width: 600px) {
  .project-card {
    width: 125px; /* Adjust width for smaller screens */
    height: 140px;
  }
}

.project-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(145deg, #6A0DAD 0%, #4B0082 15%, #191970 50%, #000000 85%);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 200 !important;
}

.group {
  margin-bottom: 20px;
}

.group.relative {
  margin-right: 10px;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}
