/* Fonts */
@font-face {
  font-family: "Black";   /*Can be any text*/
  src: local("MontserratAlt1-Black"),
    url("./fonts/ttf/MontserratAlt1-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("MontserratAlt1-Bold"),
    url("./fonts/ttf/MontserratAlt1-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold";   /*Can be any text*/
  src: local("MontserratAlt1-ExtraBold"),
    url("./fonts/ttf/MontserratAlt1-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraLight";   /*Can be any text*/
  src: local("MontserratAlt1-ExtraLight"),
    url("./fonts/ttf/MontserratAlt1-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("MontserratAlt1-Light"),
    url("./fonts/ttf/MontserratAlt1-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("MontserratAlt1-Medium"),
    url("./fonts/ttf/MontserratAlt1-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("MontserratAlt1-Regular"),
    url("./fonts/ttf/MontserratAlt1-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";   /*Can be any text*/
  src: local("MontserratAlt1-SemiBold"),
    url("./fonts/ttf/MontserratAlt1-SemiBold.ttf") format("truetype");
}

/* main elements styling */
html, body {
  height: 100%;
  margin: 0;
  
  font-family: "League Spartan";
  /* font-family: "SemiBold"; */
  color: white;

  background-image: linear-gradient(
    /* 45deg, */
    /* 111.1deg, */
    /* to top, */
    to right,
    /* Purple -> Pink -> Peach */
    /* #800080 0%,
    #ffc0cb 50%,
    #FFCBA4 100% */

    /* Light Red -> Amber -> Light green */
    /* #ff4d4d 0%,
    #FFBF00 70%,
    lightgreen 100% */

    /* Light Blue -> Light Pink */
    /* #A9C9FF 0%,
    #FFBBEC 100% */

    /* Light Blue -> Light Pink */
    /* #A9C9FF 0%,
    #ff00cc 50%,
    #FFBBEC 100% */

    /* #4158d0 0%, */
    /* Purple 0%,
    #ffcc70 100% */

    /*  */
    /* rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2% */
    /* #7474bf, #348ac7 */

    /* #283E51, #0A2342 */
    black 0%,#131862 150%
    /* #131862 0%, black 100% */
    /* black 0%, silver 100% */
    );
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.name-role{
  padding: 10px;
  flex-grow: 1;
  color: white;
  text-align: center;
}

.title {
  margin: 0;
  font-family: "Bold";
}

.subtitle {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Regular";
}

.nav {
  display: flex;
  justify-content:flex-start;
  flex-grow: 10;
}

.link {
  color: white;
  text-decoration: none;
  padding: 25px;
  font-size: 25px;
}

.link:hover {
  color: #FFBF00;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer-content{
  margin: 10px;
  color: white;
}

.section {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.resumebtn {
  border-radius: 20px;
  padding: 5px 25px;
  /* font-weight: bold; */
  font-size: 25px;
  font-family: "League Spartan";
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 5px;
  border: none;
  color: white;
  /* background-image: linear-gradient(45deg, #ff4d4d 0%, #FFBF00 70%); */
  /* background-image: linear-gradient(
    45deg, 
    #A9C9FF 0%,
  #FFBBEC 100%
  ); */
  background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
  /* background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
}

.resumebtn:hover {
  cursor: pointer;
  /* color: black; */
  /* background-color: rgba(255, 255, 255, .4); */
  background-image: rgba(255, 255, 255, .4);
  /* box-shadow: rgba(29, 29, 83, 0.4) 0px 0px 5px; */
}

/* Home element */
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 150px; */
}

.about-content-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  /* max-width: 1-0%; */
  /* padding-top: 150px; */
}
.about-content{
  padding: 15px 15px 30px 15px;
  background-color: rgb(128, 128, 128, 0.2); 
  border-radius: 15%;
  min-height: 40vh;
  min-width: 40vh;
  max-width: 35%;
}
.intro{
  /* text-align: start; */
  /* flex-grow: 1; */
  width: 100%;
  color: white;
  /* margin: auto; */
  /* padding: 20px; */
  /* max-width: 10vw; */
}

.skill-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item{
  padding: 5px;
  background-color: rgb(211, 211, 211, 0.5);
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
}

.imagedeveloper {
  /* height: auto;
  width: auto; */
  /* background-image: url(./assets/software-dev.png); */
  /* min-height: 500px; */
  background-image: url(./assets/12.png);
  min-height: 50vh;
  min-width: 60vh;
  background-size:100% 100%;
  /* justify-self: stretch; */
}

.image-container{
  /* align-self: center; */
}

.greeting-container{
  text-align: center;
  margin-bottom: 25px;
  /* min-width: 350px; */
}
.intro{
  /* text-align: start; */
  flex-grow: 1;
  width: 100%;
  color: white;
  /* margin: auto; */
  /* padding: 20px; */
  max-width: 20vw;
}

.my-logo-image {
  /* height: auto;
  width: auto; */
  /* background-image: url(./assets/software-dev.png); */
  /* min-height: 00px; */
  background-image: url(./assets/KR-dev.png);
  background-size: cover;
  background-position:center;
  /* flex-grow: 1; */
}

.testing{
  background-color: red;
  flex-grow: 1;
}


.icon-list{
  display: flex;
  justify-content: row;
  justify-content: center;
  color: white;
  padding: 20px;
}

.icon{
  font-size: 50px;
  padding: 5px;
  margin: 0 30px 0 0px;
}

.icon:hover{
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
}


.heading {
  font-size: 48px;
  margin-bottom: 15px;
  font-family: "League Spartan";
  color: white;
  text-align: center;
}

.text {
  font-size: 24px;
  line-height: 1.5;
  font-family: "League Spartan";
  color: white;
}

.intro-text{
  font-size: 17px;
  line-height: 1.5;
  font-family: "League Spartan";
  color: white;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}



/* Projects element */
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-item{
  /* background-color: red; */
  flex-basis: 22%;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  height: 40vh;
  
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, */
  /* rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: red;
  /* border: transparent; */
  /* opacity: 0.9 !important; */
  /* transition: all 0.5s ease 0s !important; */
}
.project-background{
  background-color: green;
}

.projects-item:hover{
  cursor: pointer;
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

/* .project-image-container{
  display: flex;
  justify-content: center;
} */

.image-project {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* height: auto;
  width: auto; */
  /* background-image: url(./assets/software-dev.png); */
  /* min-height: 500px; */
  /* background-image: url(./assets/pngegg.png); */
  /* min-height: 50vh;
  min-width: 60vh; */
  /* width: 50%; */
  /* height: 200px; */
  /* background-size:contain; */
  /* background-repeat: no-repeat; */
  /* justify-self: stretch; */
}

.about-container{

}