@font-face {
  font-family: "Black";
  src: local("MontserratAlt1-Black"),
    url("./fonts/ttf/MontserratAlt1-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("MontserratAlt1-Bold"),
    url("./fonts/ttf/MontserratAlt1-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: local("MontserratAlt1-ExtraBold"),
    url("./fonts/ttf/MontserratAlt1-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraLight";
  src: local("MontserratAlt1-ExtraLight"),
    url("./fonts/ttf/MontserratAlt1-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("MontserratAlt1-Light"),
    url("./fonts/ttf/MontserratAlt1-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("MontserratAlt1-Medium"),
    url("./fonts/ttf/MontserratAlt1-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("MontserratAlt1-Regular"),
    url("./fonts/ttf/MontserratAlt1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("MontserratAlt1-SemiBold"),
    url("./fonts/ttf/MontserratAlt1-SemiBold.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "League Spartan";
  /* font-family: "SemiBold"; */
  color: white;
  background-image: linear-gradient(135deg,
      black, #131862);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}